# Server property patch.
patches:
  - file: "server.properties"
    type: "properties"
    set:
      level-seed: ""
      motd: ""
      difficulty: "normal"
      enable-rcon: "false"
      rcon.port: "25575"
      rcon.password: ""

  # EULA patch.
  - file: "eula.txt"
    type: "properties"
    set:
      eula: "false"

  # JVM memory patch.
  - file: "user_jvm_args.txt"
    type: "replace_text_file"
    content: |
      -Xms4G
      -Xmx8G

  # FTB Ranks patch.
  - file: "config/ftbranks/ranks.snbt"
    type: "replace_file"
    source: "files/ftbranks/ranks.snbt"
